body {
  font-family: Arial, sans-serif;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  
}

#display {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  text-align: right;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding-right: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  
}

button {
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background: #e3e6ea;
  cursor: pointer;
  transition: 0.2s;
  
}

.button:hover {
  background: #d1d5da;
}
.operator {
  background: #f9b24d;
}
.operator:hover{
  background: #f89c23;
}
.equal{
  background: #4CAF50;
}
.equal:hover{
  background: #45a049;
}
.clear{
  background: crimson;
}
.clear:hover{
  background: darkred;
}
