<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Quiz</title>
  <link rel="stylesheet" href="static/style.css">
  <style>
    
  </style>
</head>
<body>
  <div class="container">
    <h1>Simple Quiz</h1>
    <div id="quizBox">
      <p id="question"></p>
      <div id="options"></div>
      <button id="nextBtn" onclick="nextQuestion()">Next</button>
    </div>
    <h2 id="result" style="display:none;"></h2>
  </div>

 <script src="static/script.js"></script>
</body>
</html>
