<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Chatbot</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="chat-container">
    
    <div class="chat-header">
        <span>School Chatbot 🤖</span>

        <!-- CLEAR BUTTON -->
        <button id="clear-btn" class="clear-btn">Clear</button>
    </div>

    <div class="chat-box" id="chat-box">
        {% for chat in chat_history %}
            <div class="user-wrapper">
                <div class="user-msg">{{ chat.user_message }}</div>
            </div>

            <div class="bot-wrapper">
                <div class="bot-msg">{{ chat.bot_response }}</div>
            </div>
        {% endfor %}
    </div>

    <form method="POST" class="input-area">
        {% csrf_token %}
        <input type="text" name="message" id="message-input" class="message-input" placeholder="Ask something..." required>
        <button class="send-btn">Send</button>
    </form>

</div>

<script>
    // Auto scroll
    let chatBox = document.getElementById("chat-box");
    chatBox.scrollTop = chatBox.scrollHeight;

    // CLEAR ONLY SCREEN (NOT DATABASE)
    document.getElementById("clear-btn").addEventListener("click", function () {
        chatBox.innerHTML = "";
    });
</script>

</body>
</html>
